<div class="container mt-5 d-flex justify-content-center">
  <div class="col-md-8 col-lg-6">
    <style>
      .container .hint,
      .container .form-text,
      .container .text-muted {
        color: #cfd2d6 !important;
        opacity: 1 !important;
      }
    </style>
    <h2 class="text-center mb-4 title-banner">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="mb-3">
          <%= f.input :username, required: true, autofocus: true %>
        </div>
        <div class="mb-3">
          <%= f.input :email, required: true, input_html: { autocomplete: "email" } %>
        </div>
        <div class="mb-3">
          <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                hint_html: { class: "form-text", style: "color:#cfd2d6" },
                input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="mb-3">
          <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="mb-3">
          <%= f.input :age, required: true %>
        </div>
        <div class="mb-3">
          <%= f.input :gender, required: true %>
        </div>
        <div class="mb-3">
          <%= f.input :music_style,
                as: :select,
                collection: User::MUSIC_STYLES,
                include_blank: "Select a style" %>
        </div>
        <div class="mb-4">
          <%= f.input :musician_type,
                as: :select,
                collection: User::MUSICIAN_TYPES,
                include_blank: "Select a type" %>
        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-flat w-100" %>
      </div>
    <% end %>
    <div class="mt-3 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
