<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-around">
  <% unless user_signed_in? %>
    <%= link_to new_user_session_path, class: "nav-link text-white text-center" do %>
      <i class="bi bi-person"></i><br>
      Login
    <% end %>
  <% else %>
    <%= link_to songs_path, class: "nav-link text-white text-center" do %>
      <i class="bi bi-house"></i><br>
      Home
    <% end %>
    <%= link_to new_song_path, class: "nav-link text-white text-center" do %>
      <i class="bi bi-plus-circle"></i><br>
      New
    <% end %>
      <div class="dropup-center dropup">
        <button class="nav-link text-white text-center" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-gear"></i><br>
          Setting
        </button>
        <ul class="dropdown-menu bg-light">
          <li><%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %></li>
          <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to log out?" }, class: "dropdown-item text-danger" %></li>
        </ul>
      </div>
  <% end %>

</nav>
