<nav class="navbar fixed-bottom navbar-dark bg-dark d-flex justify-content-around">
  <%= link_to songs_path, class: "nav-link text-white text-center" do %>
    <i class="bi bi-music-note-list"></i><br>
    Songs
  <% end %>
  <%= link_to new_song_path, class: "nav-link text-white text-center" do %>
    <i class="bi bi-plus-circle"></i><br>
    New
  <% end %>
  <%= link_to root_path, class: "nav-link text-white text-center" do %>
    <i class="bi bi-house"></i><br>
    Home
  <% end %>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path,
                data: { turbo_method: :delete },
                class: "nav-link text-white text-center" do %>
      <i class="bi bi-box-arrow-right"></i><br>
      Logout
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-link text-white text-center" do %>
      <i class="bi bi-person"></i><br>
      Login
    <% end %>
  <% end %>
</nav>
