<div class="container mt-4">
  <h1 class="text-center mb-4">Songs</h1>
  <div class="text-center mb-3">
    <%= link_to "Create a Song", new_song_path, class: "btn btn-primary" %>
  </div>
  <% if @songs.any? %>
    <ul class="list-group mb-4" data-controller="share">
      <% @songs.each do |song| %>
        <li class="list-group-item bg-dark text-white d-flex align-items-center justify-content-between">
          <span>
            <%= link_to song.title, song_path(song), class: "link-light text-decoration-none" %>
          </span>
          <div class="d-flex gap-3">
            <%= link_to "Edit", edit_song_path(song), class: "btn btn-primary" %>
            <%= link_to "Delete", song_path(song),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" },
              class: "btn btn-primary" %>
            <button class="btn btn-primary"
                data-action="click->share#share"
              data-song-id="<%= song.id %>"
              data-title="<%= song.title %>">
              Share
            </button>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="alert alert-secondary text-center">
      No songs yet.
    </div>
  <% end %>
</div>
