<div class="neo-hero">
  <div class="grain"></div>
  <div class="grid"></div>

  <div class="container d-flex justify-content-center pb-5">
  <div class="container d-flex justify-content-center pb-5 mb-5 mt-3">

    <div class="col-md-8 col-lg-6">
      <h1 class="title-banner text-center mb-4">Songs</h1>
      <div class="text-center mb-4">
        <div class="d-flex justify-content-center gap-3">
          <%= link_to "Sort by Date",
          songs_path(sort: "date", direction: params[:direction] == "asc" ? "desc" : "asc"),
          class: "glass btn-sort" %>
          <%= link_to "Sort Alphabetically",
          songs_path(sort: "alpha", direction: params[:direction] == "asc" ? "desc" : "asc"),
          class: "glass btn-sort" %>
        </div>
      </div>
      <% if @songs.any? %>
        <div class="song-grid" data-controller="share">
          <% @songs.each do |song| %>
            <article class="song-card glass p-3">
              <h3 class="song-card__title">
                <%= link_to song.title, song_path(song), class: "text-decoration-none text-white" %>
              </h3>
              <div class="song-meta">
                <%= song.created_at.strftime("%b %d, %Y") %> ・
                <%= song.genre.presence || "N/A" %>
              </div>
              <div class="song-actions d-flex justify-content-center" style="gap: 0.75rem;">
                <div class="icon-button-wrapper">
                  <%= link_to edit_song_path(song), class: "icon-button icon-button-edit", style:"width:46px; height:46px;" do %>
                    <i class="fa-solid fa-pen-to-square"></i>
                  <% end %>
                  <div class="label">Edit</div>
                </div>
                <div class="icon-button-wrapper">
                  <button style="width:46px; height:46px;" class="icon-button icon-button-share"
                          data-action="click->share#share"
                    data-song-id="<%= song.id %>"
                    data-title="<%= song.title %>">
                    <i class="fa-regular fa-paper-plane"></i>
                  </button>
                  <div class="label">Share</div>
                </div>
                <div class="icon-button-wrapper">
                  <button style="width:46px; height:46px;" class="icon-button icon-button-delete js-delete"
                          data-url="<%= song_path(song) %>">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <div class="label">Delete</div>
                </div>
              </div>
            </article>
          <% end %>
        </div>
      <% else %>
        <div class="alert text-center glass p-3" style="border:none;">No songs yet.</div>
      <% end %>
    </div>
  </div>
</div>
