<h1 class="song-title text-3xl font-bold text-center mt-12">
  <%= @song.title %>
</h1>

<div class="lyric_box">
  <% @song.generated_lyrics.split("\n").each do |line| %>
    <p><%= line %></p>
  <% end %>
</div>

<div class="button-container">
  <%= link_to "Edit", edit_song_path, class: "btn btn-gradient" %>
  <%= link_to "Share", share_song_path, class: "btn btn-gradient" %>
  <%= link_to "Delete", songs_path, class: "btn btn-gradient" %>
</div>
