<h1 class="song-title text-3xl font-bold text-center mt-12"><%= @song.title %></h1>

<div class="lyric_box", class="_fonts">
  <% @song.generated_lyrics.split("\n").each do |line| %>
    <p><%= line %></p>
  <% end %>
</div>

<div class="song-actions d-flex gap-2 mt-4" data-controller="share">
  <%= link_to "Edit", edit_song_path(@song), class: "btn btn-flat" %>
  <button class="btn btn-secondary"
          data-action="click->share#share"
    data-song-id="<%= @song.id %>"
    data-title="<%= @song.title %>">
    Share
  </button>
  <%= link_to "Delete", song_path(@song),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "btn btn-danger" %>
</div>
