<div class="neo-hero">
  <div class="grain"></div>
  <div class="grid"></div>
  <div class="container mt-5 d-flex justify-content-center pb-5">
    <div class="col-md-8 col-lg-6">
      <h2 class="text-center mb-4 title-banner">Log in</h2>
      <div class="glass p-4 rounded">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class="mb-3">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          label: "Email",
                          input_html: { autocomplete: "email" } %>
            </div>
            <div class="mb-3">
              <%= f.input :password,
                          required: false,
                          label: "Password",
                          input_html: { autocomplete: "current-password" } %>
            </div>
            <div class="mb-4">
              <%= f.input :remember_me, as: :boolean, label: "Remember me" if devise_mapping.rememberable? %>
            </div>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Log in", class: "btn btn-flat w-100" %>
          </div>
        <% end %>
      </div>
      <div class="mt-3 text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
